<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eminence.sitasrm">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sita"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Activity.CancelledOrderActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.CancelSingleProductActivity"
            android:exported="true" />
        <activity android:name=".Activity.CancellationConfirmedActivity" />
        <activity android:name=".Activity.RequestCancelActivity" />
        <activity
            android:name=".Activity.HelpappActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.AllTransactionActivity"
            android:exported="true" />
        <activity android:name=".Activity.SuccesfullSubscribe" />
        <activity
            android:name=".Activity.Profile.AboutActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SubscriptionPlanDetails"
            android:exported="true" />
        <activity
            android:name=".Activity.CancelOrderDetails"
            android:exported="true" />
        <activity
            android:name=".Activity.CancelOrder"
            android:exported="true" />
        <activity
            android:name=".Activity.TrackItem"
            android:exported="true" />
        <activity
            android:name=".Activity.ItemDetails"
            android:exported="true" />
        <activity
            android:name=".Activity.OrderDetails"
            android:exported="true" />
        <activity
            android:name=".Activity.SubscriptionPlanActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Notification"
            android:exported="true" />
        <activity
            android:name=".Activity.ProductDetails"
            android:exported="true" />
        <activity
            android:name=".Activity.CheckOutActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.AllProduct"
            android:exported="true" />
        <activity
            android:name=".Activity.Help"
            android:exported="true" />
        <activity android:name=".Activity.Location" />

        <service android:name=".Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_z3j8TnUZG7uryt" />

        <activity
            android:name=".Activity.IntroSliderActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.OTPScreen"
            android:exported="true" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.OnBordingScreen"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.EditProfile"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.PrivacyPolicies"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.Termcondition"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.SendQuery"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.Contactus"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.Feedback"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.AddAdress"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.Address"
            android:exported="true" />

        <activity android:name=".Activity.SplashScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity android:name=".Activity.LanguageActivity" />
        <activity android:name=".Activity.PaymentSuccessfullActivity" />
    </application>

</manifest>